
.check--container {
  display: block;
  position: relative;
  margin: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 17px;
  user-select: none;

  input {
    display: none;
  }

  .check {
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  &:hover input ~ .check {
    background-color: $gray-dark;
  }
  
  input:checked ~ .check {
    background-color: $primary;
  }
  
  .check:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  input:checked ~ .check:after {
    display: block;
  }
  
  .check:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
