@import '~react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

.editor {
  border: 1px solid $gray-input;
  background: $gray;
  padding: 5px;
  border-radius: $input-radius;
  .rdw-editor-main {
    background: $white;
    border: 1px solid $gray-input;    
    min-height: 200px;
  }
  .rdw-editor-toolbar {
    border: 1px solid $gray-input;    
    padding: 0px;
  }
  .rdw-inline-wrapper{
    margin: 0px;
  }
  .rdw-option-wrapper {
    border: 0px;
  }
  .public-DraftStyleDefault-block {
    padding: 10px;
  }
}