a.active .listitem {
  color: $primary;
  background: shade($sidebar-bg, 10);
}
.listitem {
  padding: 15px 10px;

  &:hover {
    color: $primary;
    background: shade($sidebar-bg, 10);
  }

  .text {
    width: calc(100% - 25px);
    margin-left: 10px;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;

    + i {
      float: right;
    }
  }

  .icon-right{
    font-size: 10px;
  }
}