$pad: 30px;

.grid {
  margin: 10px 20px;
  padding: 15px $pad;
  background: $white;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }

  &.grid--nopadding {
    padding: 0px;
  }

  &.grid--block {
    border-radius: 8px;
    border: 1px solid $gray;
  }

  &.grid--transparent {
    background: transparent;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}