.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.main {
  background: $gray-light;
  flex: 1;

  .content {
    overflow: auto;
    height: 100%;
    padding-bottom: 80px;
  }
}