.breadcumbs {
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
  margin-left: 10px;
  list-style: none;
  margin: 0px;
  padding: 0px;

  a {
    text-decoration: none;
    color: $gray-dark;
  }

  li {
    display: inline;
    &+li:before {
      padding: 8px;
      padding-right: 0px;
      color: black;
      content: "/\00a0";
    }
  }
}
