.sidebar {
  background: $sidebar-bg;
  width: $sidebar-size;
  border-right: 1px solid $gray;
  transition: margin 0.5s ease;

  &.sidebar--closed {
    margin-left: -$sidebar-size;
  }

  .sidebar--header {
    background-color: #fff;
    padding: 15px;

    .store--info {
      display: flex;
      margin-bottom: 10px;
      img {
        margin-right: 20px;        
      }
      .title {
        font-weight: bolder;
        font-size: 16px;
        margin-bottom: 3px;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}