$font-face: 'Open Sans', sans-serif;

/* colors */
$white: #FFF;
$dark: #333333;

$gray: #eeeeee;
$gray-light: #f5f5f5;
$gray-dark: #7d7979;
$gray-input: #bec3c8;

$primary: #66bccc;
$secondary: $gray-dark;
$danger: #e74c3c;
$inverse: $gray;

/* sidebar */
$sidebar-bg: $dark;
$sidebar-size: 280px;

/* buttons */
$button-radius: 5px;
$spacer: 5px;

/* input */
$input-radius: 6px;

/* style */
$font-size: 15px;
